@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }


  /*nav bar*/
  nav {
    background-color: #f2f2f2;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
    margin-right: 50px;
    padding: 30px;
  }

  nav a {
    text-decoration: none;
    color: #000000;
    padding: 25px;
  }

  nav a:hover {
    background-color: #333;
    color: #fff;
  }

/* connect,collab,create*/
.cccc {
  background-color: #ccc;
  text-align: center;
  font-size: 75px;
  font-stretch: expanded;
}


}
/*about page*/
/*about page grid*/
.about-grid-container {
  display: grid;
  grid-template-rows: 25%;
}


.about-grid-item2 {
  background-color: white;
  padding: 30px 100px 30px 100px;
  border: 10px solid black;
  margin: 0 200px 0 200px;
}

.about-h1 {
text-align: center;
font-size: 50px;
}
/* home */
/*home grid*/

.home-grid-container {
  display: grid;
  grid-template-areas:`ccc ccc ccc ccc ccc ccc`
  `feature-container feature-container feature-container feature-container feature-container feature-container`
  `button1 button1 button1 button1 button1 button1`
  `home-img home-img home-img home-img home-img home-img`;
  grid-gap: 10px;
  background-color: #2196F3;
  border: #000000 solid 10px;
}

.home-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.feature-image1 {
  grid-area: feature-container;

  object-fit: cover;
}














