@media screen and (min-width: 480px) {
  body {
    background-image:url(assets/img/dark\ purple.jpg)
  }


  /*nav bar*/
  nav {
    background-image: url(assets/img/lightpurple.jpg);
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
    margin-right: 50px;
    padding: 30px;
    font-family: 'Orbitron', sans-serif;

  }

  nav a {
    text-decoration: none;
    color: #000000;
    padding: 25px;
    font-size: 30px;
  }

  nav a:hover {
    background-color:#320138;
    color: #fff;
  }

/*Home page*/

.home-grid-container {
  display: grid;
  grid-template-rows: 150px 500px 150px;
  grid-gap: 10px;
  background-image: url(assets/img/dark\ purple.jpg);
  border: #56235c solid 10px;
}

.feature-container {
  grid-row: 2;
  font-family: 'Orbitron', sans-serif;
}

.button1 {
  grid-row: 3;

}
.collab-button{
  background-color: #000000;
  color: white;
}
.home-grid-container > div {
 background-color: #ffffffa8;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/*Can i make this font the same color as whatever image i put in features?*/
.home-grid-container .cccc {
  text-align: center;
  color:rgb(255, 207, 95);
  font-weight: 500;
  font-family: 'Orbitron', sans-serif;
;
font-stretch: extra-expanded;
font-size: 60px;
background-image: url(assets/img/purple.img)
}

/*About Page*/
.about-cccc {
  text-align: center;
  color:rgb(255, 230, 119);
  font-weight: 500;
  font-family: 'Orbitron', sans-serif;
font-stretch: extra-expanded;
font-size: 60px;
background-image: url(assets/img/purple.img);
}

.about-grid-container {
  border: 10px solid black;
  height: fit-content;



}

.about-grid-item2 {
  background: url(assets/img/about.img.jpg) center center no-repeat;  background-size: cover;
  border: #090909 solid 10px;
  margin: ;
}

.about-grid-item2 h1 {
  font-size: 75px;
  text-align: center;
  color:rgb(255, 230, 119);
  font-weight: 500;
  font-family: 'Orbitron', sans-serif;
font-stretch: extra-expanded;
}

.about-grid-item2 p {
  padding: 75px;
  font-size: 25px;
  color: #fff;
}

/*collab page*/
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;
  display: none;
}

/*Collab*/
/* I want to add a collapsible bar with a form inside of it*/



.collab-container {
  padding: 50px;
  background-color: #cb9bd1c7;
  border: #320138 solid 20px;
  font-family: 'Orbitron', sans-serif;
  font-stretch: extra-expanded;
  font-weight: bold;
}
.collab-container1 {
  background-color: #fffeff52;
  margin: 25px;
  padding: 25px;
}

.collab-container h3 {
  text-align: center;
  color: rgb(255, 230, 119);
  font-size: 40px;
}

/*Connect Page*/
.box1 {
  padding: 50px;
  background-color: #cb9bd1c7;
  border: #320138 solid 20px;
  font-family: 'Orbitron', sans-serif;
  font-stretch: extra-expanded;
  font-weight: bold;
}

.box1 h2 {
  font-size: 40px;
  color: rgb(255, 230, 119);
}
.connect-box {
  background-color: #fffeff52;
  margin: 25px;
  padding: 25px;
}

#form-container {
  margin: 50px auto;
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
}

#result-container {
  margin: 20px auto;
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
}
/*Create Page*/

.create-container {
  background-color: #cb9bd1c7;
  border: #320138 solid 20px;
  font-family: 'Orbitron', sans-serif;
  font-stretch: extra-expanded;
  font-weight: bold;

}

.create-container {
  background-color: #fffeff52;


}

.create-container1 {
  background-color: #cb9bd1c7;
  font-family: 'Orbitron', sans-serif;
  font-stretch: extra-expanded;
  font-weight: bold;
  margin: 50px;
  padding: 50px;
}

.create-p {
  text-align: center;
  font-size: large;
  color:rgb(255, 230, 119);
font-size: 40px;
}

/*Profile Page*/

.profile-box {
  background-color: #fffeff52;
  margin: 50px;
  padding: 50px;
}

.profile-container {
  background-color: #cb9bd1c7;
  font-family: 'Orbitron', sans-serif;
  font-stretch: extra-expanded;
  font-weight: bold;
  margin: 50px;
  padding: 50px;

}
.profile-container h3 {
  text-align: center;
  font-size: large;
  color:rgb(255, 230, 119);
font-size: 40px;
font-family: 'Orbitron', sans-serif;
}

.profile-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.grid-item {
  background-color: #dddddd6b;
  padding: 20px;
  text-align: center;
}
.grid-item1 {
  grid-column: 1 / span 1;

}
.grid-item1 img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: #320138 10px solid;
}

.p-grid2 {
  margin: 30px;

}
.p-grid2 h4 {
  font-size: 25px;
}
.p-grid2 {}

/*TEST*/

.testbody {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.h1 {
  text-align: center;
  margin-top: 50px;
}

.myForm {
  margin-top: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

#result {
  margin-top: 20px;
  text-align: center;
}
