@media screen and (min-width: 480px) {
  body {
    background-color: #56235c;
  }


  /*nav bar*/
  nav {
    background-color: #f2f2f2;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
    margin-right: 50px;
    padding: 30px;
  }

  nav a {
    text-decoration: none;
    color: #000000;
    padding: 25px;
  }

  nav a:hover {
    background-color: #333;
    color: #fff;
  }

/* connect,collab,create*/
.home-grid-container {
  display: grid;
  grid-template-rows: 150px 500px 150px;
  grid-gap: 10px;
  background-color: #d599dc;
  border: #56235c solid 10px;
}

.feature-container {
  grid-row: 2;
}

.button1 {
  grid-row: 3;

}
.collab-button{
  background-color: #000000;
  color: white;
}
.home-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.feature-image1 {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.feature-container h3 {
font-size: 20px;
padding-top:0
}
.home-img {
  display: flex;
  justify-content: space-between;
 }

 .home-img img {
  flex: 1;
  height: 200px;
  object-fit: contain;
}
.home-img p {
 margin-top: 10px;
}
.home-grid-container .cccc {
  text-align: center;
  color:black;
  font-weight: 500;
font-stretch: extra-expanded;
font-size: 60px;
}
/*About Page*/


